//@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "./assets/styles/vars";

* {
  //font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  // font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.fill-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-color: greenyellow;
  z-index: 100;
}

.section {
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 100vh;
  position: relative;
}
.page-title-wrapper {
  margin-bottom: 25px;
  position: relative;
  .page-title {
    color: $primary;
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .page-sub-title {
    font-size: 25px;
    margin-top: 20px;
  }
}

.rodal-dialog {
  background-color: rgba(0, 0, 0, 0);
  padding: 0px !important;
}
.modal-wrapper {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  .modal-dialogue {
    background-color: white;
    padding: 25px;
    width: 100%;
    .modal-title-wrapper {
      margin-bottom: 15px;
      .modal-title {
        font-size: 22px;
        font-weight: bold;
        color: $primary;
      }
    }
  }
}

.form-group {
  .input-clue {
    font-size: 13px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 2px;
    color: rgba(0, 0, 0, .8);
  }
  .btn-clue {
    margin-left: 8px;
    font-weight: 700;
  }
  .btn {
    font-weight: bold;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 25px;
      font-weight: bold;
      display: inline-block;
    }

    .youtube {
      color: red;
    }
    .twitter {
      color: #00acee;
    }
    .instragram {
      color: #3f729b;
    }
    .linkdin {
      color: #0e76a8;
    }
    .facebook {
      color: #3b5998;
    }
  }
}

.optional-btn-wrapper {
  margin: 20px 0px;
}

.form-btn-wrapper {
  margin-top: 25px;
  .btn {
    margin-right: 10px;
  }
}

.form-wrapper {
  position: relative;
}

.fade-out {
  height: auto;
  transition: height 1000ms;
  overflow: visible;
}

.fade-in {
  height: 0px;
  transition: height 1000ms;
  overflow: hidden;
}

.btn-light {
  background-color: #e7e7e7;
  border: 1px solid rgba(181, 181, 181, .5);
  font-weight: 600;

  &:hover {
    background-color: darken(#e7e7e7, 10%);
  }
}

.RichTextEditor__editor___1QqIU,
.editorClassName {
  min-height: 300px;
  max-height: 500px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.default-box {
  padding: 25px 0px;
  text-align: center;
  .default-text {
    font-size: 24px;
    font-weight: 600;
  }
}

.liked-heart {
  color: #fd2928;
}

.react-confirm-alert-body {
  h1 {
    font-size: 22px;
    font-weight: bold;
  }
}
