

.create-profile-section{
  margin-top: 25px;
  h5{
    margin-bottom: 25px;
  }
}

.dashboard-actions-wrapper{
  margin-top: 20px;

  .dashboard-action-row{
    padding: 25px 0px;
    .dashboard-action-inner-row{
      .dashboard-action-title-wrapper{
        h3{
          font-size: 22px;
          font-weight: bold;
        }
      }
      .dashboard-action-btn-wrapper{
        margin-top: 15px;
        .btn{
          margin-right: 10px;
        }
      }
    }
  }
}