@import "../../../assets/styles/vars";

.profile-view{
  .profile-view-wrapper{
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .profile-left-wrapper{
      width: 250px;
      flex-grow: 0;
      flex-shrink: 0;
      //background-color: greenyellow;
      height: 100%;

      .profile-photo-wrapper{
        margin-bottom: 20px;
        .profile-photo-inner-wrapper{
          width: 80%;
          overflow: hidden;
          border: 3px ridge rgba(181,181,181,.6);
          position: relative;
          img{
            width: 100%;
            height: auto;
            min-height: 150px;
          }

          .change-photo-btn{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background-color: rgba(0,0,0,.6);
            text-align: center;
            padding: 5px 0px;
            cursor: pointer;

            &:hover{
              background-color: rgba(0,0,0,.8);
            }
            .btn-text{
              margin: 0px;
              font-size: 15px;
              font-weight: bold;
              color: $gray-400;
            }
          }
        }
      }

      .profile-left-column-row{
        padding: 15px 0px;
        .profile-left-column-row-wrapper{
          .profile-left-column-row-title{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            text-transform: uppercase;
          }
          .profile-left-column-row-content{
            .content-row{
              padding: 2px 0px;
              h4{
                margin: 0px;
                font-size: 15px;
                cursor: pointer;
                &:hover{
                  color: darken( $primary,5%);
                }
              }
            }
          }
        }
      }
    }
    .profile-center-wrapper{
      flex-grow: 1;
     // background-color: tan;
      height: 100%;

      .user-title{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .user-status{
        font-size: 20px;
        font-weight: bold;
        color: darken($primary,10%);
      }

      .profile-center-content-wrapper{
        margin-top: 15px;
        .profile-center-row{
          padding: 20px 0px;
          .profile-center-row-wrapper{
            .profile-center-row-title{
              font-weight: bold;
              font-size: 20px;
              text-transform: uppercase;
              border-bottom: 2px solid rgba(155,175,183,.6);
              padding-bottom: 8px;
            }
            .profile-center-row-content{
              .content-row{
                padding: 10px 0px;
              }

              .content-title{
                font-weight: bold;
              }
            }
          }
        }
      }


    }
  }
}