@import "../../../assets/styles/vars";

.profile-view {
  .profile-view-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .profile-left-wrapper {
      width: 250px;
      flex-grow: 0;
      flex-shrink: 0;
      //background-color: greenyellow;
      height: 100%;

      .profile-photo-wrapper {
        margin-bottom: 20px;
        .profile-photo-inner-wrapper {
          width: 80%;
          max-width: 250px;
          overflow: hidden;
          border: 3px ridge rgba(181, 181, 181, .6);
          position: relative;
          height: 200px;
          background-color: #424342;
          display: flex;
          align-items: center;
          justify-content: center;
          .profile-photo {
            width: 100%;
            height: 100%;
            display: block;
            //min-height: 100%;
          }

          .change-photo-btn {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background-color: rgba(0, 0, 0, .5);
            text-align: center;
            padding: 5px 0px;
            cursor: pointer;

            &:hover {
              background-color: rgba(0, 0, 0, .7);
            }
            .btn-text {
              margin: 0px;
              font-size: 15px;
              font-weight: bold;
              color: $gray-400;
            }
            #profile-pic-chooser {
              display: none;
            }
          }
        }
      }

      .profile-left-column-row {
        padding: 15px 0px;
        .profile-left-column-row-wrapper {
          .user-social-media {
            .social-media-link {
              padding-right: 8px;
              img {
                width: 32px;
                height: 32px;
              }
            }
          }

          .profile-left-column-row-title {
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 10px;
            text-transform: uppercase;
          }
          .profile-left-column-row-content {
            .content-row {
              display: block;
              padding: 5px 0px;
              h4 {
                margin: 0px;
                font-size: 15px;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                  color: darken($primary, 5%);
                }
              }
            }
          }
        }
      }
    }
    .profile-center-wrapper {
      flex-grow: 1;
      // background-color: tan;
      height: 100%;
      position: relative;

      .profile-view-action-wrapper {
        position: absolute;
        top: 5px;
        right: 0px;
        .btn {
          margin-left: 8px;
        }
      }

      .user-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: capitalize;
      }
      .user-status {
        font-size: 20px;
        font-weight: bold;
        color: darken($primary, 10%);
        text-transform: capitalize;
      }

      .profile-center-content-wrapper {
        margin-top: 15px;
        .profile-center-row {
          padding: 20px 0px;
          .profile-center-row-wrapper {
            .profile-center-row-title {
              font-weight: bold;
              font-size: 20px;
              text-transform: uppercase;
              border-bottom: 2px solid rgba(155, 175, 183, .6);
              padding-bottom: 8px;
            }
            .profile-center-row-content {
              .content-row {
                padding: 10px 0px;
              }

              .content-title {
                font-weight: bold;
              }

              .github-repose-wrapper {
                .github-repose-inner-wrapper {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                  flex-wrap: wrap;

                  .github-repo-row {
                    width: 49.5%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-bottom: 10px;
                    // padding-right: 15px;
                    .github-repo-inner-row {
                      padding: 15px;
                      width: 100%;
                      height: auto;
                      background-color: #f2f2f2;
                      border: 1px ridge rgba($color: #585353, $alpha:0.2);
                      // @include box_shadow();
                    }

                    .repo-title {
                      font-size: 18px;
                      font-weight: bold;
                      a {
                        text-transform: capitalize;
                      }
                    }
                    .repo-desc {
                      font-size: 16px;
                    }

                    .repo-info-list-wrapper {
                      .repo-info-list {
                        padding: 0px;
                        margin: 0px;

                        li {
                          display: inline-block;
                          padding: 5px 0px;
                          padding-right: 5px;

                          .badge {
                            font-size: 14px;
                            font-weight: bold;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 820px) {
    .github-repo-row {
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 650px) {
    .profile-view-wrapper {
      flex-wrap: wrap;
      .profile-left-wrapper {
        width: 100%;
      }

      .profile-photo-wrapper {
        display: flex;
        justify-content: center;
      }
      .profile-left-column-row-wrapper {
        text-align: center;
      }
      .profile-left-column-row-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .content-row {
          padding: 10px !important;
        }
      }
      .profile-center-wrapper {
        padding: 0px 5px;
        width: 100%;
      }
    }
  }
}
